body {
  margin: 40px auto;
  max-width: 650px;
  line-height: 1.8;
  font-size: 18px;
  color: #444;
  padding: 0 10px;
}

header {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  gap: 12px;
}

h1 a {
  color: #444;
  text-decoration: none;
}

footer {
  line-height: 1;
}

h1,
h2,
h3 {
  line-height: 1.2;
}
