/* https://dev.to/madsstoumann/dark-mode-in-3-lines-of-css-and-other-adventures-1ljj */

/* :where(body) {
  --background-color: #fff;
  --text-color: #222;
  --fg: #444;
  --bg: #fff;
}

@media (prefers-color-scheme: dark) {
  :where(body) {
    --background-color: hsl(228, 5%, 15%);
    --text-color: hsl(228, 5%, 80%);
    --fg: #e1e1ff;
  --bg: #161625;
  }
}

body {
  background-color: #222;
  color: #aaa;
} */

html[data-theme="light"] {
  --hdr: #000;
  --fg: #000;
  --bg: #fff;
  /* a */
  --link: LinkText;
  --visited: VisitedText;
}
/* green-ish */
/* --fg: #f0f9f0;
--bg: #222422; */

/* blue-ish */
/* --fg: #e1e1ff;
--bg: #161625; 
  --link: cornflowerblue;
  --visited: darkorchid;
*/

html[data-theme="dark"] {
  --fg: #dee6de;
  --bg: #232422;
  /* a */
  --link: Tomato;
  --visited: Thistle;
}

body > p > img {
  width: 100%;
}

body {
  margin: 40px auto;
  max-width: 650px;
  line-height: 1.8;
  font-size: 18px;
  background-color: var(--bg);
  color: var(--fg);
  /* padding: 0 10px; */
  color-scheme: light normal dark;
}

header {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  gap: 12px;
}

a:link {
  color: var(--link);
}

a:visited {
  color: var(--visited);
}

h1,
h1 a:link,
h1 a:visited {
  color: var(--hdr);
  text-decoration: none;
}

footer {
  line-height: 1;
}

h1,
h2,
h3 {
  line-height: 1.2;
}
