html[data-theme="light"] {
  --fg: #444;
  --bg: #fff;
  /* a */
  --link: revert;
  --visited: revert;
}

html[data-theme="dark"] {
  --fg: #e1e1ff;
  --bg: #161625;
  /* a */
  --link: cornflowerblue;
  --visited: darkorchid;
}

body > p > img {
  width: 100%;
}

body {
  margin: 40px auto;
  max-width: 650px;
  line-height: 1.8;
  font-size: 18px;
  background-color: var(--bg);
  color: var(--fg);
  padding: 0 10px;
}

header {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  gap: 12px;
}

/* a:link {
  color: var(--link);
}

a:visited {
  color: var(--visited);
} */

h1 a:link,
h1 a:visited {
  color: var(--fg);
  text-decoration: none;
}

footer {
  line-height: 1;
}

h1,
h2,
h3 {
  line-height: 1.2;
}
