/* https://dev.to/madsstoumann/dark-mode-in-3-lines-of-css-and-other-adventures-1ljj */

/* :where(body) {
  --background-color: #fff;
  --text-color: #222;
  --fg: #444;
  --bg: #fff;
}

@media (prefers-color-scheme: dark) {
  :where(body) {
    --background-color: hsl(228, 5%, 15%);
    --text-color: hsl(228, 5%, 80%);
    --fg: #e1e1ff;
  --bg: #161625;
  }
}

body {
  background-color: #222;
  color: #aaa;
} */

html[data-theme="light"] {
  --hdr: #000;
  --fg: #000;
  --bg: #fff;
  /* a */
  --link: LinkText;
  --visited: VisitedText;
}
/* green-ish */
/* --fg: #f0f9f0;
--bg: #222422; */

/* blue-ish */
/* --fg: #e1e1ff;
--bg: #161625; 
  --link: cornflowerblue;
  --visited: darkorchid;
*/

/* Page Layout */

body {
  font-family: "Latin Modern Roman", serif;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  padding: 0rem 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: serif;
  border: none;
  font-weight: bold;
}

/* --------------------------------- */

html[data-theme="dark"] {
  --fg: #dee6de;
  --bg: #232422;
  /* a */
  --link: Tomato;
  --visited: Thistle;
}

article > p > img {
  width: 100%;
}

article > p > center > iframe {
  width: 100%;
}

body {
  margin: 40px auto;
  max-width: 40rem;
  font-size: 16px;
  background-color: var(--bg);
  color: var(--fg);
  color-scheme: light normal dark;
}

p {
  line-height: 1.25em;
  text-align: justify;
  letter-spacing: 0.025em;
}

code {
  font-size: 0.825em;
  background: #333333;
  padding: 2px 4px 2px 4px;
  border-radius: 3px;
  color: white;
}

pre:has(code) {
  background: #333333;
  border-radius: 3px;
  color: white;
  padding: 4px 8px 8px 8px;
  overflow-x: scroll;
}

pre code {
  padding: 0;
}

header {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  gap: 12px;
}

/* When the screen is narrow */
@media (max-width: 600px) {
  header {
    flex-direction: column;
    align-items: flex-start; /* adjust if you want */
  }
}

a:link {
  color: var(--link);
}

a:visited {
  color: var(--visited);
}

h1,
h1 a:link,
h1 a:visited {
  color: var(--hdr);
  text-decoration: none;
  margin: 0;
}

article {
  margin-top: 2rem;
}

footer {
  line-height: 1;
}

.index {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 1.2;
}

.index > li {
  text-indent: -6rem; /* pull the first line back */
  margin-left: 6rem;
  margin-top: 1rem;
}

.index > li > i {
  opacity: 0.5;
}

.linked-box.youtube {
  margin-bottom: 2rem;
}

.youtube > iframe {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
}
